<div class="section white">
  <div class="row container">
    <h2 class="header">Who Am I?</h2>
    <p class="grey-text text-darken-3 lighten-3">I love to code</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img src="assets/images/la-background.jpg">
  </div>
</div>
<div id="portfolio" class="section white">
  <div class="row container">
    <h2 class="header">Portfolio</h2>
    <p class="grey-text text-darken-3 lighten-3">Check out what I built!</p>
  </div>
</div>
